.mazeBlock {
  height: 30px;
  width: 30px;
  border: 1px solid grey;
  margin: -2px;
  background-color: white;
}

.light {
  background-color: yellow
}

.wall {
  background-color: black
}

main {
  display: flex;
  justify-content: center;
}

.mazeRow {
  align-self: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;

}

.mazeBox {
  display: flex;
  margin: 5em auto;
}
